<header>

	<nav class="navbar navbar-expand-md navbar-dark">
		<a class="navbar-brand" href="/"><img src="/images/logo.png" id="logo"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item active">
					<a class="nav-link text" href="/">Home</a>
				</li>
			<li class="nav-item" >
				<a class="nav-link text-white" href="events">Events</a>
			</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="news">News</a>
				</li>
	
			</ul>
		
			<div class="search-container">
					<form action="/soeg" method="GET">
					<input type="text" placeholder="Search.." name="search" class="search_input">
					<button type="submit" class="search_button">Search</button>
					</form>
			</div>


		</div>
	</nav>


</header>



<main role="main">