<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Events</h1>
  </div>

  <form action="/admin/Arrangementer/opret" method="post">
    <label for="name">Event navn:</label>
    <input type="text" name="events_title" required><br>
    <label for="name">Event date:</label>
    <input type="datetime-local" name="time" required><br>
    <label for="price">pris:</label>
    <input type="number" name="price" required><br>
    <label for="name">location:</label>
    <textarea name="location" required></textarea><br>
    <label for="name">Duration:</label>
    <textarea name="duration" required></textarea><br>
    <button type="submit">Opret Produkt</button>
  </form>
</main>
</div>
</div>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>
  window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
</script>
<script src="bootstrap.min.js"></script>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
  feather.replace()
</script>

</body>

</html>